body {
    background-image: url("../../assets/images/camo.jpeg");
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #800000;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    padding-bottom: 10px;
}




section {
    background-color: #ffffff;
    border-style: ridge;
    border-width: 5px;
    margin: 0 auto;
    margin-top: 3%;
    width: 60%;
    max-width: 60%;
    min-height: 640px;
    text-align: center;
}

#finished {
    margin-top: 20px;
}

input[type="radio"]{
    margin-left: 30px;
  }

  button {
      border-radius: 50%;
      background-color: #555555;
      color: #ffffff;
      padding: 15px;
  }

  span.red {
    color: #800000;
    font-family: 'Fira Mono', monospace;
  }